body {
	background-color: #f2ede9
}

h1 {
	color: #a03c24;
}

h2 {
	background-color: #724c26;
}

h3 {
	color: #935711;
}

a:link,a:visited {
	color: #cc771c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}