body {
	background: url(/images/modern/modern_bg.png) top center #fff no-repeat;
	line-height: 1.3em;
}

/* Masthead
----------------------------------------------- */
#metadata_list {
	float: left;
	width: 100%;
	margin: .625em auto 1.5em;
	font-size: .70em;
	letter-spacing: 1px;
	margin-left: auto !important;
	margin-right: auto !important;
}

#metadata_list dt,#metadata_list dd {
	float: left;
}

#metadata_list dt {
	margin-right: 3px;
}

#metadata_list dd {
	padding-right: 5px;
	border-right: 1px solid #ccc;
	margin-right: 5px;
	font-weight: bold;
}

#metadata_list dd.last {
	border-right: none;
}

h1 {
	margin-bottom: .33em;
	font-weight: bold;
}

#port_info {
	margin-bottom: 1em;
	line-height: 1.4em;
}

#toc {
	clear: both;
	float: left;
	font-size: .70em;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

#toc h4,#toc ul,#toc li {
	float: left;
	margin-right: 5px;
}

#toc li {
	padding-right: 5px;
	border-right: 1px solid #ccc;
}

#toc li.last {
	border-right: none;
}

/* Sections
----------------------------------------------- */
h2 {
	clear: both;
	margin-bottom: .25em;
	padding: 3px 8px 4px;
	color: #fff;
	background-color: #7b7b7b;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: .9375em;
}

h2 span {
	color: #fff;
}

h3 {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 1em;
	float: left;
	clear: both;
}

.section {
	margin-bottom: 1em;
}

.section_inner {
	margin-left: 8px;
}

#content dl {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
	padding-top: 1em;
}

#content dl.last {
	border-bottom: none;
	padding-bottom: 2em;
}

#content dt {
	float: left;
	width: 140px;
	margin-top: -1px;
	font-weight: bold;
}

#content dd {
	/*float: right; BK-removed-makes sections with multiple lines overlap down into next section */
	width: 542px;
	margin: 0 0 .5em 8px;
}

#content dd h4 {
	text-transform: uppercase;
	display: inline;
	float: left;
	padding: 2px 3px 0 0;
	color: #000;
	font: .925em 'Helvetica Neue', helvetica, arial, sans-serif;
}

#content dd.attachments {
	margin-top: .75em;
	padding-top: .75em;
	border-top: 1px solid #ccc;
}

#portfolioAssessment,#portfolioComment {
	margin-top: .75em;
	padding-top: .75em;
	border-top: 1px solid #ccc;
}

#portfolioAssessment h4,#portfolioComment h4 {
	font-style: italic;
}

/* User-specified headings for WYSIWYG edited areas
----------------------------------------------- */
#content dd.has_user_headings {
	width: 500px;
}

#content dd.has_user_headings h4 {
	position: relative;
	left: -42px;
}

#content dd.has_user_headings h1 {
	clear: both;
	font-size: 100%;
	margin: .5em 0 .25em;
	color: #333;
	padding-top: .5em;
}

#content .section_inner dd h2 {
	clear: both;
	font-size: 100%;
	margin: .5em 0 .25em;
	padding: 0;
	background-color: transparent;
	color: #333;
	text-transform: none;
	letter-spacing: 0;
	font-style: italic;
}

#content .section_inner dd h3 {
	margin: .5em 0 .25em;
	color: #333;
	font-weight: normal;
	font-style: italic;
}