body {
	background: url(/images/friendly/pagebg_w.gif) #c6cdd1 center repeat-y;
}

#port_title,#masthead h1 {
	border: 1px solid #c6cdd1;
}

h1 {
	color: #34526c;
}

h2 span {
	color: #677983;
}

h3 {
	color: #2a4053;
}

a:link,a:visited {
	color: #264f72;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}