You recently requested your password for your Portfolio account.
Here's your Portfolio Account Information:


#if ($person.guest )
 Your registered email address is : $person.email
#else
 Your username is : $person.username
#end
   Password:   $person.password

You can modify your Portfolio Account Information by:
   1. Logging into Portfolio
   2. clicking on any "Account Info" link
      (located in the main menu bar on the left)
   3. make changes to your name, email, and password as needed
   4. click the "Save Changes" button to submit your changes

Questions, comments, or concerns can be sent to $contactEmail.
****************************************************************
Portfolio is a secure web site at the $institutionLongName ($institutionShortName) for saving, organizing, viewing, and selectively sharing personal educational records.

