Your Portfolio account information has recently been changed.
This change may have been to your name, password, or both.
You do not need to do anything, this message is simply a
notification to protect the security of your account.

You can modify your Portfolio Account Information by:
   1. Logging into Portfolio
   2. clicking on any "Account Info" link
      (located in the main menu bar on the left)
   3. make changes to your name, email, and password as needed
   4. click the "Save Changes" button to submit your changes

Questions, comments, or concerns can be sent to $contactEmail.
******************************************************************
Portfolio is a secure web site at the $institutionLongName ($institutionShortName) for saving, organizing, viewing, and selectively sharing personal educational records.
